<?xml version="1.0"?>
<robot name="cuttingBoard_sim">
  <link name="link0">
  <contact>
      <lateral_friction value="1"/>
  </contact>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="2.5" />
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.2 0.085 0.13" /> <!-- is 0.135-->
      </geometry>
      <material name="grey">
        <color rgba="0.9 0.9 0.9 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.2 0.085 0.13" />
      </geometry>
    </collision>
  </link>
</robot>
